
<%- include("shared/header") %> 

<body id="login">
    
        <div class="overlay">
            <!-- ================================spinner============================== -->
            <div class="parent-spinner">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
            <!-- ================================/spinner============================== -->

            <!-- ======================login form================================= -->

            <div class="container pt-5">
                <div class="row">

                    <div class="col-md-6 m-auto p-5">
                        <div class="form p-5 ">
                    <h2 class="text-center text-white">Sign In</h2>
                    <% if (loginSission=='true') { %>
                        <div class="alert alert-danger text-center my-1">
                            <p> sorry you have  to sigin first</p>
                        </div>
                    <% } %>
                            <form action="/handelSignIn" method="POST">
                                <input value="<%=oldInputs.email%>" name="email"    placeholder="Email" type="email" class="form-control my-4 inp <%= errorsValidators.find(data=>data.param=="email")||emailNotExist=='true'?'is-invalid':'' %> " type="text">
                                <% if (errorsValidators.find(data=>data.param=="email")) { %>
                                    <div class="alert alert-danger text-center my-1">
                                        <p>Invalid email</p>
                                    </div>
                                <% } %>
                                <% if (emailNotExist=='true') { %>
                                    <div class="alert alert-danger text-center my-1">
                                        <p>email Not Exist</p>
                                    </div>
                                <% } %>
                                <input  value="<%=oldInputs.password%>" name="password" placeholder="Password" type="password" class="form-control my-4 inp  <%= errorsValidators.find(data=>data.param=="password")||wrongPassword=='true'?'is-invalid':'' %>" type="text">
                                <% if (errorsValidators.find(data=>data.param=="password") || wrongPassword=='true' ) { %>
                                    <div class="alert alert-danger text-center my-1">
                                        <p>Invalid password or Incorect Password</p>
                                    </div>
                                <% } %>
                                <button class="btn btn-outline-info w-100 text-white">Login</button>
                                <p class="text-center text-white pt-3">
                                    Don't Have an account..?  <a href="/" class="text-white" >Sign Up Here</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        
<%- include("shared/footer") %> 









